:root {
  --bg: #181717;
  --lightbg: rgba(46 45 45 / 0.3);
  --lightbg2: rgb(46 45 45);
  --blackBlue: #033b55;
  --blue: #0e65a3;
  --lightBlue: #008cf0;
  --darkOrange: #865000;
  --orange: #f79500;
  --greyish:  #f2f2f2;
  --grey:  #8a8a8a;
}

* {
  box-sizing: border-box;
  color: var(--greyish);
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body, html {
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow-x: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1 { 
  text-align: center; max-width: 300px; 
  font-family: "good-times", sans-serif;
  font-weight: 900;
  font-style: normal;
  width: 80%;
  max-width: 400px;
  min-width: 300px;
  padding: 20px;
  margin: 0;
  margin-top: 40px;
}

.info {
  font-size: 14px;
  color: var(--grey);
  text-align: center;
  width: 80%;
  max-width: 400px;
  min-width: 300px;
  padding: 20px;
  margin: 10px 0;
}


/* ---- ---- GEARS ---- ---- */


.gear {
  position: absolute;
  z-index: -3;
}

#gear1 {
  --gearWidth: 13%;
  width: var(--gearWidth);
  top: 10vw; /* 100px */
  left: calc(-0.25 * var(--gearWidth));  
  animation: rotate-counter-clockwise 7s infinite linear;
}
#gear2 {
  width: 19.5%;
  top: 19vw; /* 240px */
  left: 0;
  animation: rotate-clockwise 10s infinite linear;
}
#gear3 {
  --gearWidth: 9.75%;
  width: var(--gearWidth);
  top: -4vw /*calc(-0.5 * var(--gearWidth))*/;
  left: 80vw /*calc(100% - var(--gearWidth) - 150px)*/;
  animation: rotate-clockwise 6s infinite linear;
}
#gear4 {
  --gearWidth: 22.75%;
  width: var(--gearWidth);
  top: -3vw /*calc(-0.15 * var(--gearWidth))*/;
  left: 85vw /*calc(100% - (0.65 * var(--gearWidth)))*/;
  animation: rotate-counter-clockwise 11s infinite linear;
}
#gear5 {
  --gearWidth: 13%;
  width: var(--gearWidth);
  top: 16.8vw /*255px*/;
  left: 93vw /*calc(100% - (0.6 * var(--gearWidth)))*/;
  animation: rotate-clockwise 8s infinite linear;
}

@keyframes rotate-clockwise {
  to { transform: rotate(360deg); }
}
@keyframes rotate-counter-clockwise {
  to { transform: rotate(-360deg); }
}


/* ---- ---- GEARS ---- ---- */


.splash {
  position: absolute;
  z-index: -4;
}

#splash1 {
  --splashWidth: 50%;
  width: var(--splashWidth);
  top: -30vw;
  left: -15vw; 
  transform: scale(1) rotate(180deg);
}

#splash2 {
  --splashWidth: 24%;
  width: var(--splashWidth);
  top: -15vw;
  left: 75vw; 
}

#splash3 {
  --splashWidth: 60%;
  width: var(--splashWidth);
  top: 20vw;
  left: 70vw; 
  transform: rotate(100deg);
}

/* ---- ---- */

#menu {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  padding: 5px;
  padding-left: 3px;
  border-radius: 0 20px 20px 0;
  backdrop-filter: blur(20px);
  border: 3px solid var(--grey);
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
}

#menu:hover {
  background: rgba(24 23 23 / 0.5);
}

/* ---- ---- */

input:not(input[type="radio"], input[type="submit"]) {
  color: black;
  padding: 18px 32px;
  border-radius: 50px;
  width: 300px;
}

#member > span {
  width: 300px;
}

form > input[type="submit"], .action {
  background: var(--lightBlue);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 18px 32px;
  width: 250px;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

#login-btn { background: var(--lightBlue); }
#member-btn { background: var(--blue); }
#change-btn { background: var(--orange); }
#logout-btn { background: var(--darkOrange); }

form > a {
  text-decoration: underline;
  font-size: 14px;
  color: var(--grey);
}

.back {
  color: var(--grey);
  font-size: 14px;
  width: 300px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.back > a {
  color: var(--grey);
}

input[type="submit"]:hover, a:hover, button:hover {
  cursor: pointer;
}

.disabled {
  color: var(--grey);
  text-decoration: line-through;
}

#error {
  color: red;
}

#create, #member, #login, #change {
  position: absolute;
  top: -150%;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  z-index: 9999;
  padding: 40px;
  transition-duration: 0.5s;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
}

#create.show, #member.show, #login.show, #change.show { top: 0; }

#backMenu {
  display: none;
}

/*-------- SCROLLBAR --------*/

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  border: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightbg2); 
  border: none;
  z-index: -1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightBlue); 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
  cursor: pointer;
}