@import 'styles/root.css';
@import 'styles/navbar.css';
@import 'styles/bg-assets.css';
@import 'styles/title.css';
@import 'styles/members.css';
@import 'styles/projects.css';
@import 'styles/recruitment.css';
@import 'styles/footer.css';
@import 'styles/scrollbar.css';

* {
  box-sizing: border-box;
  color: var(--greyish);
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body, html {
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body {
    max-width: 100vw;
  }
}

h1, h2, h3, h4 {
  font-family: "good-times", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-size: calc(16px + 3vw);
  margin: 35vh 0 20px 0;
}