<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Rochambotics</title>

  <meta name="Rochambotics official website">

  <meta name="color-scheme" content="light only">
  
  <!--icon-->
  <link rel="icon" type="image/x-icon" href="static/assets/logos/rochambotics.png">
  <link rel="apple-touch-icon" href="static/assets/logos/rochambotics.png">
  
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://use.typekit.net/odu2dgk.css">
</head>
<body>

<!-- ---- ---- SIDE NAVBAR ---- ---- -->

<div onclick="show()" id="expand">
  <span style="font-size: 48px;" class="material-symbols-outlined">chevron_left</span>
</div>

<nav id="nav">
  <span onclick="scrollAt(this)" id="home" data-section="to-home" class="material-symbols-outlined">
  home</span>
  <span onclick="scrollAt(this)" id="members" data-section="to-members" class="material-symbols-outlined">
  group</span>
  <span onclick="scrollAt(this)" id="projects" data-section="to-projects" class="material-symbols-outlined">
  build</span>
  <span onclick="scrollAt(this)" id="become-a-member" data-section="to-become-a-member" class="material-symbols-outlined">
  person_add</span>
  <span onclick="scrollAt(this)" id="contact" data-section="to-contact" class="material-symbols-outlined">
  alternate_email</span>

  <!-- <div>
    <span id="accessLoginOnlyBtn" onclick="submit_loginaccess()" class='material-symbols-outlined'>login</span>
    <span id="accessMembersOnlyBtn" onclick="submit_access()" class='material-symbols-outlined'>lock</span>
  </div>

  <form id="accessLoginOnly" action="accesslogin" method="post"><input type="submit" value=""> </form>
  <form id="accessMembersOnly" action="access" method="post"><input type="submit" value=""></form> -->
</nav>

<!-- ---- ---- GEARS AND SPLASH ---- ---- -->

<img class="gear" id="gear1" src="static/assets/gears/gear.svg" alt="Gear">
<img class="gear" id="gear2" src="static/assets/gears/gear.svg" alt="Gear">
<img class="gear" id="gear4" src="static/assets/gears/gear.svg" alt="Gear">
<img class="gear" id="gear3" src="static/assets/gears/gear.svg" alt="Gear">
<img class="gear" id="gear5" src="static/assets/gears/gear.svg" alt="Gear">
  

<img class="splash" id="splash1" src="static/assets/paints/splash.svg" alt="Splash">
<img class="splash" id="splash2" src="static/assets/paints/splash2.svg" alt="Splash">
<img class="splash" id="splash3" src="static/assets/paints/splash3.svg" alt="Splash">

<!-- ---- ---- TITLE ---- ---- -->
  
<div class="title">
  <img src="static/assets/logos/rochambotics.png" alt="Logo" width="20%" style="max-width: 300px;" loading="lazy">
  <h1 id="to-home">
    <span>R</span>
    <span>O</span>
    <span>C</span>
    <span>H</span>
    <span>A</span>
    <span>M</span>
    <span>B</span>
    <span>O</span>
    <span>T</span>
    <span>I</span>
    <span>C</span>
    <span>S</span>
  </h1>
  <p class="sub-title">engineering for fun</p>
</div>
  
<p class="desc">We are the Rochambotics club of Rochambeau the French International School.
This club aims to get together with other students motivated to design, build, and program to resolve engineering issues.</p>

<!-- ---- ---- MEMBERS ---- ---- -->

<h2 id="to-members">MEMBERS</h2>
<p class="members-desc">Rochambotics is a 5 members club</p>
<div id="members-track" class="members" data-mouse-down-at="0" data-prev-percentage="0">
  <div>
    <img class="member" src="static/assets/members/antonin.png" alt="Antonin" width="150px" loading="lazy">
    <h4>Antonin</h4>
    <p>founder</p>
    <p>programmation</p>
    <p>engineering</p>
  </div>
  <div>
    <img class="member" src="static/assets/members/lubin.png" alt="Lubin" width="150px" loading="lazy">
    <h4>Lubin</h4>
    <p>programmation</p>
    <p>website developpement</p>
    <p>design</p>
    <p>building</p>
    <p>engineering</p>
  </div>
  <div>
    <img class="member" src="static/assets/members/max.png" alt="Maxime" width="150px" loading="lazy">
    <h4>Maxime</h4>
    <p>building</p>
    <p>engineering</p>
  </div>
  <div>
    <img class="member" src="static/assets/members/raf.png" alt="Rafael" width="150px" loading="lazy">
    <h4>Rafael</h4>
    <p>building</p>
    <p>???</p>
  </div>
  <div>
    <img class="member" src="static/assets/members/ravaka.jpg" alt="Ravaka" width="150px" loading="lazy">
    <h4>Ravaka</h4>
    <p>design</p>
    <p>???</p>
  </div>
</div>

<!-- ---- ---- PROJECTS ---- ---- -->

<h2 id="to-projects">PROJECTS</h2>
<p class="projects-desc">Discover all our projects in details here</p>
<div class="projects">
  <div>
    <img class="splash" id="project-splash1" src="static/assets/paints/splash.svg" alt="Splash" loading="lazy">
    <div>
      <img class="gear" id="project-gear1" src="static/assets/gears/gear.svg" alt="Gear" loading="lazy">
      <img src="static/assets/images/vex-robotics.jpeg" alt="project vex robotics" width=100% loading="lazy">
      <h3>VEX Robotics</h3>
      <p>In february 2023, we competed the Vex Robotics Spin Up competition.</p>
    </div>
  </div>
</div>

<!-- ---- ---- BECOME A MEMBER ---- ----

<h2 id="to-become-a-member">BECOME A MEMBER</h2>
<p class="becoming-desc">Want to become a member ? Make sure you have all of the following requirements !</p>
<div class="becoming">
  <span><label class="container">
    <input type="checkbox">
    <span class="checkmark"></span>
    </label><span>I am a Rochambeau student</span>
  </span>

  <span><label class="container">
    <input type="checkbox">
    <span class="checkmark"></span>
    </label><span>I am in High School</span>
  </span>

  <span><label class="container">
    <input type="checkbox">
    <span class="checkmark"></span>
    </label><span>I have some knowledge either in building, programming, engineering, design or have a skill that can be usefull</span>
  </span>

  <span><label class="container">
    <input type="checkbox">
    <span class="checkmark"></span>
    </label><span>I am motivated to help the club progress</span>
  </span>
</div>
<p class="becoming-conclu">That's it ! To make a request, use the contact form bellow. Make sure to introduce yourself and explain your skill(s) and motivation(s).</p> -->

<!-- ---- ---- CONTACT ---- ----

<h2 id="to-contact">CONTACT</h2>
<p class="contact-desc">You can send us an email with this form. Feel free to use or french or english depending on what your are the most confortable with.</p>
<form id="email-sender">
  <span><input type="email" placeholder="Your email" required><div>*</div></span>
  <span><input type="text" autocomplete="none" placeholder="Subject" required><div>*</div></span>
  <span><textarea rows="20" placeholder="Type your message here" required></textarea><div>*</div></span>
  <input type="submit" value="Send !">
</form> -->

<!-- ---- ---- FOOTER ---- ---- -->

<footer>
  <span>
    <a href="https://instagram.com/rochambotics" target="_blank" rel="noopener">
      <img class="gear-on-icon" src='static/assets/gears/gear.svg' alt="gear">
      <img src="static/assets/logos/instagram.svg" alt="Instagram" width=50px>
    </a>
    <a href="mailto:rochambotics@gmail.com" rel="noopener">
      <img class="gear-on-icon-counter" src='static/assets/gears/gear.svg' alt="gear">
      <img src="static/assets/logos/email.svg" alt="Email" width=50px>
    </a>
    <a href="https://www.rochambeau.org/" target="_blank" rel="noopener">
      <img class="gear-on-icon" src='static/assets/gears/gear.svg' alt="gear">
      <img src="static/assets/logos/rochambeau.svg" alt="School Website" width=40px>
    </a>
  </span>
  <p>Website by @LubinPappalardo</p>
</footer>
  
<script>
  if ("{{error}}" != "") {
    alert("{{error}}");
  } 
    
  var width = document.body.offsetWidth;

  if (width > "1000") {
    document.getElementById("nav").classList.add("show");
    document.getElementById("expand").classList.add("show");
  } else {
    document.getElementById("nav").classList.remove("show");
    document.getElementById("expand").classList.remove("show");
  }
  
  function show() {
    if (document.getElementById("nav").classList.contains("show")) {
      document.getElementById("nav").classList.remove("show");
      document.getElementById("expand").classList.remove("show");
    }
    else {
      document.getElementById("nav").classList.add("show");
      document.getElementById("expand").classList.add("show");
    }
  }
  
  function scrollAt(obj) {
    const element = document.getElementById(obj.dataset.section);
    element.scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" });
  }

  function submit_access(obj) {
    document.getElementById("accessMembersOnly").submit();
  }
  
  function submit_loginaccess(obj) {
    document.getElementById("accessLoginOnly").submit();
  }

</script>
</body>
</html>